@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Bungee+Spice&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Special+Gothic+Expanded+One&display=swap');

/*reset das configuraçoes padroes do browser*/
*{
    margin: 0;
    padding: 0;
}

/*configuracao geral do body*/
body{
    background-color: #000000;
    color: #F6F6F6;
    height: 90vh;
    margin: 20px;
}

/*nav*/
.cabeçalho_menu{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 280px;
    padding: 16px;
    background-color: #000000;
}

/*margem botoes*/
.cabeçalho_menu_link{
    width: 280px;
    padding: 10px;
}

/*corpo, duas caixas em linha*/
.conteudo{
    display: flex; 
    flex-direction: row;
    gap: 70px;
    justify-content: space-between;
    margin: 7% 15% 15%;
}

/*caixa da esquerda, textos*/
.conteudo__esquerda{
    display: flex;
    flex-direction: column;
    width: 50%;
}

/*configuracao geral da tag h1, titulo*/
h1{
    font-size: 36px;
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0px;
}

/*configuraçao subtitulo*/
.conteudo__esquerda__subtitulo{
    font-size: 28px;
    font-weight: 300;
    font-style: normal;
    margin: 5px 0px;
}

/*configuraçao margem da saudacao*/
.conteudo__esquerda__saudacao{
    margin-top: 10px;
}

/*configuracao dos tres botoes, em linha*/  
.conteudo__esquerda__botoes{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

/*margem botoes*/
.conteudo__esquerda__botoes__botao{
    margin-left: 5px;
}

/*configuracao geral da tag a*/
a{
    background-color: #2e2e2e;
    color:rgb(255, 243, 243);
    font-size: 16px;
    width: 280px;
    padding: 16px;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
}

/*funcao para mudar a cor do botao ao passar o mouse*/
a:hover{
    background-color: #f18d09;
}

/*margem e borda da foto*/
.foto{
    border-radius: 15px;
    width: 50%;
}

/*configuracao do rodape*/
.rodape{
    background-color: #2e2e2e;
    text-align: center;
    margin: 0% 0% 30%;
}

/*edicao do curriculo*/
.conteudo__curriculo{
    display: flex;
    flex-direction: column;
}

.conteudo__curriculo__divisoes{
    background-color: #2e2e2e73;
    padding: 16px;
    border-radius: 15px;
    width: 50%;
    margin: 2% 0% 1% 5%;
}

.ensino_medio{
    margin: 1px 0px 1px 0px;
}

.titulo{
    font-size: 30px;
    font-family: arial;
    margin: 2px 0px 2px 0px;
}


/*redimencionamento para aparelhos mobile*/
@media(max-width: 1024px){

    .conteudo{
        flex-direction: column-reverse;
    }

    .conteudo__esquerda{
        width: auto;
    }

    .foto{
        width: auto;
    }

    .conteudo__esquerda__botoes{
        flex-direction: row;
        align-items: center;
    }

    .cabeçalho_menu{
        flex-direction: row;
        align-items: center;
    }
}
